/* Table of Content
==================================================
1. General Styles
2. Header Styles
==================================================
*/

/* 1. General Styles*/



/* 2. Header Styles*/
#jr-header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}