
@import url(/assets/css/footer.css);
@import url(/assets/css/navbar.css);
@import url(/assets/css/hero.css);

body {
/* Estilos del cuerpo */
    background-color: #ffffff;
    /* color de fondo blanco*/
    font-family: "Prata", serif;
    /* fuente de familia Prata*/
    color: #333333;
    /* color #333333*/
    font-size: 15px;
    /* tamaño de fuente 15px*/
    overflow-x: hidden;
    /* desbordamiento-x oculto*/
    line-height: 24px;
    /* altura de linea 24px*/
 }
  
.no-padding {
/* Estilos de la clase sin relleno */
    padding: 0;
    /* relleno 0*/
 }
  
ul {
/* Estilos de la lista */
    padding: 0;
    /* relleno 0*/
    margin: 0;
    /* margen 0*/
    list-style: none;
    /* estilo de lista ninguno*/
 }
  
a {
/* Estilos de la etiqueta a */
    text-decoration: none;
    /* decoracion de texto ninguno*/
    color: #333333;
    /* color #333333*/
 }
  
a:hover,
a:focus {
/* Estilos de la etiqueta a cuando esta en hover o focus */
    outline: none;
    /* contorno ninguno*/
    text-decoration: none;
    /* decoracion de texto ninguno*/
 }
  
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
/* Estilos de las etiquetas h1 a h6 */
    font-family: "Open Sans", sans-serif;
    /* fuente de familia Open Sans*/
 }
  
h2 {
/* Estilos de la etiqueta h2 */
    font-size: 30px;
    /* tamaño de fuente 30px*/
    font-weight: 700;
    /* peso de fuente 700*/
    line-height: 40px;
    /* altura de linea 40px*/
    margin: 0;
    /* margen 0*/
 }
  
img {
/* Estilos de la etiqueta img */
    border: none;
    /* sin borde*/
    max-width: 100%;
    /* ancho maximo 100%*/
 }

 .restaurant-div .text{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 60px;
}

.restaurantes-grid .col{
    margin-bottom: 20px;    
}

.restaurantes-grid .col .btn-primary:hover {
    color: #000000; /* Cambia el color del texto a blanco en hover */
}

.btn_verRest{
    /* Estilos del boton de ver restaurantes */
    background-color: #004225;
    /* color de fondo #004225*/
    color: blanchedalmond;
    /* color blanco*/
    font-size: 18px;
    /* tamaño de fuente 18px*/
    padding: 8px 20px;
    /* relleno 8px 20px*/
    border-radius: 0 32px 0 32px;
    /* radio de borde 50px*/
    text-decoration: none;
    /* decoracion de texto ninguna*/
    transition: 0.3s background;
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;

}

.btn_verRest a{
    color: white;
}
    
.btn_verRest a:hover{
    /* Estilos de la etiqueta a cuando esta en hover(raton sobre la etiqueta) */
    background-color: #004225;
    color: black;
    /* color de fondo rgb(19, 111, 47)*/
}
