/* Table of Content
==================================================
1. General Styles
2. Header Styles
3. Navigation Styles
==================================================
*/


/*----------------
1. General Styles
-----------------*/
body {
/* Estilos del cuerpo */
    background-color: #ffffff;
    /* color de fondo blanco*/
    font-family: "Prata", serif;
    /* fuente de familia Prata*/
    color: #333333;
    /* color #333333*/
    font-size: 15px;
    /* tamaño de fuente 15px*/
    overflow-x: hidden;
    /* desbordamiento-x oculto*/
    line-height: 24px;
    /* altura de linea 24px*/
 }
  
.no-padding {
/* Estilos de la clase sin relleno */
    padding: 0;
    /* relleno 0*/
 }
  
ul {
/* Estilos de la lista */
    padding: 0;
    /* relleno 0*/
    margin: 0;
    /* margen 0*/
    list-style: none;
    /* estilo de lista ninguno*/
 }
  
a {
/* Estilos de la etiqueta a */
    text-decoration: none;
    /* decoracion de texto ninguno*/
    color: #333333;
    /* color #333333*/
 }
  
a:hover,
a:focus {
/* Estilos de la etiqueta a cuando esta en hover o focus */
    outline: none;
    /* contorno ninguno*/
    text-decoration: none;
    /* decoracion de texto ninguno*/
 }
  
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
/* Estilos de las etiquetas h1 a h6 */
    font-family: "Open Sans", sans-serif;
    /* fuente de familia Open Sans*/
 }
  
h2 {
/* Estilos de la etiqueta h2 */
    font-size: 30px;
    /* tamaño de fuente 30px*/
    font-weight: 700;
    /* peso de fuente 700*/
    line-height: 40px;
    /* altura de linea 40px*/
    margin: 0;
    /* margen 0*/
 }
  
img {
/* Estilos de la etiqueta img */
    border: none;
    /* sin borde*/
    max-width: 100%;
    /* ancho maximo 100%*/
 }


/*----------------
2. Header Styles
------------------*/
#mu-header {
/* Estilos del id encabezado */
    
    position: fixed;
    /* posicion relativa*/
    left: 0;
    /* margen izquierdo 0*/
    right: 0;
    /* margen derecho 0*/
    top: 0;
    /* margen superior 0*/
    width: 100%;
    /* ancho 100%*/
    z-index: 1000;
    /* orden de apilamiento 999*/
    
}

.offcanvas-body{
    overflow-x: hidden;
    padding-left: 15px;
}

.navbar-brand {
    padding-top: 15px;
    font-weight: 500;
    color: #004225;
    font-size: 32px;
    transition: 0.3s color;
}

.login-button{
    background-color: #004225;
    color: blanchedalmond;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: rgb(19, 111, 47);
}

.navbar-toggler{
    border: none;
    font-size: 2rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.navlink {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: black;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #004225;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .offcanvas-body{
        overflow-x: hidden;
        padding-left: 20px;
        margin-left: 20px;
    }
    
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    
}


.offcanvas-title{
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
}


.hero-section{
    background-image: url(../assets/img/fondocomida.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 6rem;
    font-weight: 700;
    color: white;
    margin-top: 5%;
}

.hero-section p{
    font-size: 3rem;
    color: white;
    margin-top: 20px;
}

.hero-section a{
    background-color: #004225;
    color: blanchedalmond;
    font-size: 30px;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-top: 10%;
}

.hero-section a:hover{
    background-color: rgb(19, 111, 47);
}

.restaurantes-grid .col{
    margin-bottom: 20px;    
}


