<!DOCTYPE html>
<html lang="es-Ve">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaHoy | Mesas</title>

     <!-- Favicon -->
     <link rel="shortcut icon" href="../assets/img/letra-r.png" type="image/x-icon"/>
    <!-- fontawesome-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous"/>

      <!-- Estilos CSS -->
  <link rel="stylesheet" href="../assets/css/mesas.css">
  <script src='../assets/js/GenerarMesas.js'></script>
</head>
<body>
    <header id="navbar-Container">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand " href="/">ReservaHoy</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 active" href="catalogo.html">Catalogo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" id="ConsultaLink">Consulta</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a id="login-button-nav" class="login-button" title="Login">
                  <script src="../assets/js/navbar.js"></script>
                    Volver
                </a>
                <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    
        
    <div class="container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lista de Mesas</h5>
            <table class="table table-fixed">
              <thead>
                <tr>
                    <th scope="col">ID Mesa</th>
                    <th scope="col">Puestos</th>
                    <th scope="col">Estatus</th>
                </tr>
              </thead>
              <tbody id="mesasList">
                <!-- Filas de datos -->
              </tbody>
            </table>
          </div>
        </div> 
          <!-- Tarjeta de Formulario de Plato -->
          <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-text">Nueva Mesa</h5>
                        
                        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#platoForm">Agregar Mesa</button>
                        <div id="platoForm" class="collapse mt-3">
                            <!-- Contenido del formulario para agregar platos -->
                            <div class="form-group">
                              <form id="mesaForm">
                                <label for="capacidad">Numero de Asientos:</label>
                                <input name = "capacidad" type="text" class="form-control" id="capacidad" min="1">
                                <input type="hidden" name="correoRestaurante" id="correoRestaurante">
                                <button type="submit" class="btn btn-success">Agregar</button>
                              </form>
                            <script src="../assets/js/agregaMesa.js"></script>
                            </div>
                        </div>
                </div>
          </div>
        </div>
    </div>
    </div>
      <!-- Enlace a JS de Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          
          
    

    <!-- Seccion de pie de pagina-->
    <footer>
        <p>Reserve Hoy &copy; 2021</p>
    </footer>
    <!-- Fin: Seccion de pie de pagina-->
</body>
</html>

