<!DOCTYPE html>
<html lang="es-VE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReserveHoy | </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/letra-r.png" type="image/x-icon">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous"/>

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../assets/css/restaurant.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <!-- Script-->
    <script src="../assets/js/GeneraRestaurant.js"></script>

</head>
<body>
    <!-- Seccion de encabezado-->
    <header id="navbar-Container">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="/">ReservaHoy</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">

                                <a class="nav-link mx-lg-2 active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="./catalogo.html">Catalogo</a>

                            </li>
                            <li class="nav-item">
                              <a class="nav-link mx-lg-2" id="ConsultaLink">Consulta</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- SI YA INICIO SESION LO MANDA A SU PERFIL, SINO DEBE MANDARLO A LOGIN.HTML-->
                <a id="login-button-nav" class="login-button" title="Login">
                  <script src="../assets/js/navbar.js"></script>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                    </svg>
                </a>
                <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="div-breadcrumb">
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item"><a href="./catalogo.html">Catálogo</a></li>
              <li class="breadcrumb-item active" aria-current="page">Restaurante</li>
            </ol>
          </nav>
        </div>
    </header>
    <!-- Fin: Seccion de encabezado-->

    <div class="container mt-5">
        <div class="row" style="margin-top: 6vh; margin-bottom: 3vh;">
          <!-- Tarjeta de Información del Restaurante -->
          <div class="col-md-8">
            <div class="card">
              <img src="../assets/img/Restaurant.png" class="card-img-top" alt="Restaurante">
              <div class="card-body">
                <h5 class="card-title"><span id="NombreDelRestaurante"></span></h5>
                <p class="card-text"> <span id="DescripcionDelRestaurant"></span></p>
                <h5>Menú</h5>
                <ul>
                    <li>Entradas: </li>
                    <li>Platos principales: </li>
                    <li>Postres: </li>
                </ul>
                <h5>Horario</h5>
                <p>Lunes a viernes: <span id="HorarioSemanalDelRestaurant"></span> </p>
                <p>Sábados y domingos: <span id="HorarioFinSemanalDelRestaurant"></span> </p>
                <h5>Contacto</h5>
                <p>Teléfono: <span id="TelefonoDelRestaurant"></span> </p>
                <p>Dirección: <span id="DireccionDelRestaurant" ></span></p>
              </div>
            </div>
          </div>
          
          <!-- Tarjeta de Formulario de Reservación -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Reserva tu mesa</h5>

                <form  id="restauranteForm" class="form">      
                  
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Tu nombre">
                  </div>

                  <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>

                  <div class="form-group">
                    <label for="FechayhoradelaReserva" >Fecha y hora:</label>
                    <input type="datetime-local" class="form-control" name="FechayhoradelaReserva" id="FechayhoradelaReserva" placeholder="Seleccione una fecha y hora">
                    <p id="error"></p>
                    <script src="../assets/js/Horarios.js"></script>
                  </div>

                  <div class="form-group">
                    <label for="personas">Número de personas:</label>
                    <input type="number" class="form-control" name="personas" id="personas" placeholder="1" min="1">
                  </div>
                                   
                  <div class="form-group" hidden>
                    <label for="CorreoDelRestaurante">Correo del Restaurante:</label>
                    <input type="hidden" class="form-control" name="CorreoDelRestaurante" id="CorreoDelRestaurante">
                  </div>

                  
                  <button type="submit" class="btn btn-success">Reservar</button>
                </form>
                <script src="../assets/js/resevaform.js"></script>
                <br> 
                <h5 class="card-title">Mesas Disponibles</h5>
                <p class="card-text">Mesas disponibles para reservar.</p>
                <ul id="MesasDelRestaurante">
                  <!-- Aquí se generan las mesas disponibles -->
                </ul>
                <p class="card-text">Si desea una Mesa para más personas, comuníquese a traves de nuestros números de contacto.</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Enlace a JS de Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      
      <scripts src="../assets/js/resevaform.js"></scripts>




    <!-- Seccion de pie de pagina-->
    <footer>
        <p>Reserve Hoy &copy; 2024</p>
    </footer>
    <!-- Fin: Seccion de pie de pagina-->
    
</body>
</html>