footer {
    /* Estilos del footer */
        position: relative;
        /* posicion  */
        left: 0;
        /* margen izquierdo 0 */
        bottom: 0;
        /* margen inferior 0 */
        width: 100%;
        /* ancho 100% */
        background-color: #333333;
        /* color de fondo #333333 */
        color: #ffffff;
        /* color #ffffff */
        padding: 20px;
        /* relleno 20px */
        text-align: center;
        /* alineacion de texto al centro */
    }
    